{{ define "main" }}
<main class="container mx-auto px-4 py-24 bg-gray-100">
    <h1 class="text-purple-700">Welcome to Hugo with Tailwind CSS</h1>
    <div class="text-gray-500">This is an example site with Tailwind CSS 2</div>
</main>
{{ end }}
